header{
    background: rgb(0, 104, 189);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   }
   .header__header-logo{
    margin-left: 20px;
    
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    display:flex;
    height: 40px;
    text-decoration: none;
   }
   .header-logo__name{
    margin: 0 0.5em;
    color:rgb(233, 227, 227);
    font-family: "Outfit",sans-serif;
    box-sizing: border-box;
    padding: 0.3em 0.6em;
    background:rgb(4, 58, 102);
    display: inline-block;
    font-weight: 400;
    height: fit-content;
    align-self: center;
    transition: background-color 0.11s ease-out, border-color, 0.11s ease-out;
   }
   .header-logo__img{
     width:40px;
     border-radius: 50%;
   }
   body{
     margin: 0;
   }
   main{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
     background-color: rgba(0, 47, 255,0.1);
   }
   .container{
     width: 375px;
     box-sizing: border-box;
     background: white;  
     border-radius: 20px;     
     font-size: 15px;
    }
    .container__img{
      width: 100%;
      box-sizing: border-box;
      padding: 4.5%;
      display: block;
      border-radius: 30px;
    }
    .container__title{
      width: 80%;
      text-align: center;
      font-family: "Outfit", sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      margin: 0.4em auto;
    }
    .container__description{
      font-size: 1em;
      font-family: "Outfit", sans-serif;
      font-weight: 400;
      width: 70%;
      margin: 1em auto 3em auto;
      text-align: center;
      color: gray;
    }
    footer{
      height: 20vh;
      background-color: rgb(0, 104, 189);
      display: flex;
      align-items: center;
      justify-content: center;
    } 
  .attribution {
     font-size: 2rem;
    text-align: center;
    color:white;
    font-family: "Outfit", sans-serif; 
    }
  .attribution a { 
    color: rgb(177, 174, 174);
    margin:0 1em;
    text-decoration: none;
    display: inline-block;
   }
   @media screen and (min-width: 1007px) {
      .header-logo__name{
        border: 1px solid white;
        border-color: white;
        background-color: transparent;
      }
      .header-logo__name:hover{
        border-color: rgb(4, 58, 102);
        background-color: rgb(4, 58, 102);
      }
   }

   @media screen and (min-width: 1800px) {
     header{
       height: 70px;
     }
     .header__header-logo{
       height: 56px;
     }
     .header-logo__img{
       width: 56px;
     }
     .header-logo__name{
       font-size: 1.5em;
     }
   }